In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
data = pd.read_csv('finalData.csv')

In [10]:
data.head()

,name,artists,score1,score2,senti
0,Clancy Lowered the Boom,['Dennis Day'],0.660748,19,3
1,Gati Bali,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,0.506691,16,6
2,Gati Mardika,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,0.619534,20,1
3,Raja Manggala,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,0.426359,6,1
4,Prabu Mataram,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,0.190415,3,1

In [11]:
data['score2'] = data['score2']/24
data['senti'] = data['senti']/6

In [12]:
data.head()

,name,artists,score1,score2,senti
0,Clancy Lowered the Boom,['Dennis Day'],0.660748,0.791667,0.500000
1,Gati Bali,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,0.506691,0.666667,1.000000
2,Gati Mardika,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,0.619534,0.833333,0.166667
3,Raja Manggala,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,0.426359,0.250000,0.166667
4,Prabu Mataram,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,0.190415,0.125000,0.166667

In [14]:
data.to_csv('finalData01.csv', encoding='utf-8-sig', index=False)